@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root{
    --primary-color:blue;
    --primary-backgroud-color:rgb(236, 228, 228);
    --background-color:#fff;
    --text-color-one:#fff;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
   font-family: 'Poppins', sans-serif;
}

body{
    background-color:var(--primary-backgroud-color);
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width:350px;
    width:100%;
    background-color: var(--primary-color) ;
    padding: 25px;
    border-radius:5px;
    box-shadow: 1px 1px 1px black;
}

.wrapper h2{
    text-align: center;
    margin-bottom: 20px ;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--text-color-one) ;
}

.wrapper .input_field{
    margin-bottom: 10px;
}

.wrapper .input_field input[type='text'],
.wrapper textarea{
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.wrapper textarea{
    height:80px;
    resize: none;
}

.wrapper .btn input[type ="submit"]{
    border:0;
    margin-top: 15px;
    padding:10px;
    width:100%;
    background-color: var(--primary-backgroud-color);
    color:var(--primary-color);
    text-transform: 5px;
    font-weight: bold;
    cursor: pointer;

}

.wrapper #error_message{
    margin-bottom:20px;
    padding:0px;
    background-color: plum;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}